<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>runews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of ruNewsResult">
    <ion-item>
      <ion-avatar slot="start">
        <img src="http://www3.ru.ac.th/RuNews/images/News/{{item.photo_header}}">
      </ion-avatar>
      <ion-label>
        <h3 class="ion-text-nowrap">{{item.title}}</h3>
        <p>View : {{item.hit | number}}</p>
      </ion-label>
    </ion-item>
    <img class="headerP" src="http://www3.ru.ac.th/RuNews/images/News/{{item.photo_header}}" alt="ion">
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
  // {{ruNewsResult | json}}
</ion-content>
