#name-thai-tag {
    margin-top: 5%;
}

#header-main-bg-tag {
    border-radius: 4%;
    background-color: rgb(231, 231, 231);
    box-shadow: 0px 0px 21px -20px rgba(0, 0, 0, 0.1);
}

#name-eng-tag {
    font-weight: bold;
    font-size: 1.2rem;
}

#box-inner-tag {
    line-height: 1;
    padding: 2%; //บน ขวา ล่าง ซ้าย
    margin: 0 5% 5% 5%;
    border-radius: 3%;
    background-color: rgb(221, 221, 221);
}

#detail-student-tag {
    text-align: center;
}

#main-body-tag {
    margin-top: 5%;
}

#topic-text {
    font-size: 1.3rem;
    color: rgb(136, 136, 136);
    font-weight: bold;
}