$background-color-white: rgb(255, 255, 255);
$box-shadow-primary: rgb(0 0 0 / 24%) 0px 3px 8px;
$border-color-yellow: 1px solid rgb(255 205 0);
$border-radius-btn: 5rem;
$border-radius-menu: 1.5rem;
$transform-center:translate(-50%, -50%);
ion-header {
    .home-bg-header-wrapper {
        height: 40vh;
        width: 100vw;
        overflow: hidden;
        .home-bg-header {
            img {
                height: 40vh;
                width: 100vw;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: $transform-center;
                -webkit-transform: $transform-center;
                -moz-transform: $transform-center;
                -ms-transform: $transform-center;
                -o-transform: $transform-center;
            }
        }
        .home-logo-header {
            img {
                height: 30vh;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: $transform-center;
                -webkit-transform: $transform-center;
                -moz-transform: $transform-center;
                -ms-transform: $transform-center;
                -o-transform: $transform-center;
            }
        }
        .home-text-logo-header {
            img {
                width: 90vw;
                position: absolute;
                margin: 36vh auto 0 5%;
            }
        }
    }
}

.btn-google-signin-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 1rem 0;
    ;
    .btn-google-signin {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-color: $background-color-white;
        border: $border-color-yellow;
        border-radius: $border-radius-btn;
        padding: 0.3rem 2.5rem;
        box-shadow: $box-shadow-primary;
        -webkit-border-radius: $border-radius-btn;
        -moz-border-radius: $border-radius-btn;
        -ms-border-radius: $border-radius-btn;
        -o-border-radius: $border-radius-btn;
    }
}

.home-menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem 1rem 1rem;
    .home-menu-items {
        flex: 35%;
        margin: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        border: $border-color-yellow;
        border-radius: $border-radius-menu;
        box-shadow: $box-shadow-primary;
        -webkit-border-radius: $border-radius-menu;
        -moz-border-radius: $border-radius-menu;
        -ms-border-radius: $border-radius-menu;
        -o-border-radius: $border-radius-menu;
        img {
            width: 20vw;
            margin: 0.5rem;
        }
        .img-calendar {
            width: 20vw;
        }
        .img-news3 {
            width: 25vw;
        }
        .img-mr30 {
            width: 15vw;
        }
        .img-aboutus4 {
            width: 25vw;
        }
        .img-text-calendar {
            width: 27vw;
            margin: 0 0 0.5rem 0;
        }
        .img-text-news3 {
            width: 22vw;
            margin: 0.5rem 0 0.5rem 0;
        }
        .img-text-mr30 {
            width: 22vw;
            margin: 0 0 0.5rem 0;
        }
        .img-text-aboutus4 {
            width: 30vw;
            margin: 0 0 0.1rem 0;
        }
    }
}
